snippet init
package main

func ${1:main}() {
	$2
}
endsnippet

snippet acm
package main

func main() {
	$1
}
endsnippet

snippet core
package main

import (
	"testing"
)

func ${1:Test}(test *testing.T) {
	$2
}
endsnippet

snippet conv
Convey("$1", ${2:test, }func() {
	$3
})
endsnippet

snippet test
func ${1:Test}(test *testing.T) {
	$2
}
endsnippet

snippet swap
$1, $2 = $2, $1
endsnippet

snippet err
if err != nil {
	fmt.Println(err)$1
	return
}
endsnippet
